<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Como se menciono anteriormente esta app web
             solo es un prueba del manejo de nodejs junto a la conexion con Mongodb.
        </p>
    </div>
</div>