<div class="jumbotron mt-4">
    <h1 class="display-4">App de Notas y Mongodb</h1>
    <p class="lead">Esta es una prueba de la aplicacion de notas con conexion a base de datos de Mongodb</p>
    <hr class="my-4">
    <p>
    Como podemos ver esta prueba de app web se basa en nodejs y bootstrap con conexion a Mongodb. 
    Esta prueba es propiedad de Moisés Andrés Alejandro Quispe Herrera que trabaja como practicante
    en la empresa BPS Consultores S.A.C
    </p>
    <a href="http://google.com" class="btn btn-primary">Google</a>
</div>