<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registro de cuenta
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="contrasenia" placeholder="Contraseña" value="{{contrasenia}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmar_contrasenia" placeholder="Contraseña" value="{{confirmar_contrasenia}}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Registrarse                            
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>